form{
    display: flex;
    flex-direction: column;
    gap:5px;
    width: fit-content;
}

input, button{
    padding: 0.7rem;
    border-radius: 10px;
}

input{
    border-width: 1px;
}

input:focus{
    outline: none;
}

button{
    border-style: none;
    background-color: #008af1;
}