:host {
    grid-column: span 2;
}
  
div {
    padding-inline: 1.5rem;
    border: 1px solid lightgray;
    height: 100%;
    background-color: white;
    border-radius: 10px;
}

h1{
    font-size: 1.2rem;
}