div{
    background-color: white;
    min-height: 60px;
    display: flex;
    align-items: center;
    border-style: solid;
    border-width: 1px 1px 1px 0px;
    border-color: lightgray;
    border-top-right-radius: 30px;
}