header{
    padding: 2rem;
    border-radius: 10px;
    color: white;
    background-color: #008af1;
}

header button{
    border: none;
    border-radius: 5px;
    padding: 0.7rem;
    background-color: white;
}

header button:hover{
    background-color: lightblue;
}

.grid{
    margin-block-start: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4,1fr);
}

